* {
    box-sizing: border-box;
  }
.content{
  background-image: url("../img/Ronda.jpeg");
  background-size: cover;
  /* height: 100vw; */
}
  /* .content img {
    border-radius: 5px;
    height: 550px;    
    width: 100%;
    object-fit: cover;
    margin: 0px;
} */

/* .content .homeImage{
    align-items: center;
    flex: 50%;
    min-width: 285px;

} */
/* .content{
    background-color: rgb(241, 191, 0);
} */
.row {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .leftside {
    /* flex: 20%; */
    padding-left: 20%;
    padding-right: 20%;
    height: 550px;
    min-width: 285px;
    display: flex;
    align-items: flex-end;
  }

  .rightside {
    flex: 20%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 550px;
    min-width: 285px;
    
  }

  .content .writing{
    justify-content: center;
    /* padding: 25%; */
    color: rgb(170, 21, 27);
    /* background-color: rgb(241, 191, 0); */
    background-color: rgba(218, 135, 97, 0.819);
    font-weight: bolder;
    font-family: "Courgette";
    padding: 12px 16px;
    font-size: 20.5px;
    text-align: center;
    /* height: 90% */

  }
  .content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(218, 135, 97, 0.319);
  }

  .content li {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 16px;
    background-color: transparent;
    /* background-color: rgba(218, 135, 97, 0.319); */
    /* font-family: "Courgette"; */
    /* font-size: 20px; */
  }
  
  .content li:hover {
    /* background-color: rgba(218, 135, 97, 0.319); */
    background-color: transparent;
  }
  