.main {
    background-color: lightcyan;
    text-align: center;
    color: blue
}

.header h1 {
    font-family: "SpongeboyRegular";
}

img {
    border-radius: 5px;
    height: 400px;
    width: 285px;
    object-fit: cover;
    margin: 20px 0px;
}

p {
    background-color: lightblue;
    color: blue;
    font-size: 1.3rem;
    border-radius: 5px;
    max-width: 30%;
    min-width: 285px;
    margin: 20px 0px;
    padding: 8px;
}

.spongebob, .patrick, .squidward {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}