* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li:hover {
  background-color: yellow;
}