* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(168, 36, 40, 0.485);
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-family: "Courgette";
  font-size: 20px;
}

li:hover {
  background-color: rgba(255, 255, 0, 0.191);
}

.noMatch h2{
  font-family: "Courgette";
  font-size: 60px;
  color: rgb(170, 21, 27);
  display: flex;
  justify-content: center;
}

.noMatch .back{
  padding-top: 15%;
  padding-bottom: 15%;
  /* font-family: "Courgette"; */
  font-size: 60px;
  font-weight: bolder;
  color: rgb(170, 21, 27);
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: "none"
  /* text-decoration-line: "none"; */
  /*text-decoration-style: wavy; */

}

