* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(168, 36, 40, 0.485);

}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li:hover {
  background-color: rgba(255, 255, 0, 0.191);
}
